<% @subject = @provider %>
<%= render 'shared/error_messages' %>

<div class="col-md-6">
  <%= f.label :name, "Nombre" %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :tax_name, "Razon Social" %>
  <%= f.text_field :tax_name, class: 'form-control' %>

  <%= f.label :tax_id, "RFC" %>
  <%= f.text_field :tax_id, class: 'form-control' %>

  <%= f.label :address1, "Calle" %>
  <%= f.text_field :address1, class: 'form-control' %>

  <%= f.label :address2, "Colonia" %>
  <%= f.text_field :address2, class: 'form-control' %>

  <%= f.label :city, "Ciudad" %>
  <%= f.text_field :city, class: 'form-control' %>

  <%= f.label :state, "Estado" %>
  <%= f.text_field :state, class: 'form-control' %>
</div>

<div class="col-md-6">
  <%= f.label :zip, "Codigo Postal" %>
  <%= f.text_field :zip, class: 'form-control' %>

  <%= f.label :country, "Pais" %>
  <%= f.text_field :country, class: 'form-control' %>

  <%= f.label :constct, "Contacto" %>
  <%= f.text_field :contact, class: 'form-control' %>

  <%= f.label :mobile, "Celular" %>
  <%= f.text_field :mobile, class: 'form-control' %>

  <%= f.label :phone, "Telefono" %>
  <%= f.text_field :phone, class: 'form-control' %>

  <%= f.label :email, "Correo Electronico" %>
  <%= f.text_field :email, class: 'form-control' %>

  <%= f.label :webpage, "Pagina de Interet" %>
  <%= f.text_field :webpage, class: 'form-control' %>
</div>