<li>
  <%= link_to provider.name, provider %>
  <% if current_user.admin? %>
  	| <%= link_to "editar", edit_provider_path(provider) %>
    | <%= link_to "eliminar", provider, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>