<% provide(:title, 'Editar Proveedor') %>
<h1>Actualizar datos del Proveedor</h1>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@provider) do |f| %>
      <%= render 'fields', f: f %>
      <div class="col-md-6 col-md-offset-3">
        <%= f.submit "Modificar Proveedor", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
