<% provide(:title, 'Proveedores') %>
<h1>Proveedores <small>
	<%= link_to "nuevo", new_provider_path %>
</small></h1>

<%= will_paginate %>

<ul class="providers">
  <% @providers.each do |provider| %>
    <%= render provider %>
  <% end %>
</ul>

<%= will_paginate %>
