<% provide(:title, @provider.name) %>
<h1><%= @provider.name %></h1>
<p>
	<%= @provider.address1 %><br>
	<%= @provider.address2 %><br>
	<%= @provider.city %><br>
	<%= @provider.state %><br>
	<%= @provider.zip %><br>
	<%= @provider.country %>
</p>