<tr>
  <td><%= purchase_detail_counter + 1 %></td>
  <td><%= purchase_detail.quantity %></td>
  <td><%= link_to purchase_detail.product.description, purchase_detail.product %></td>
  <td><%= number_to_currency(purchase_detail.cost, format: "%u %n") %></td>
  <td><%= number_to_currency(purchase_detail.cost * purchase_detail.quantity, format: "%u %n") %></td>
</tr>