<div class="row">
<div class="col-sm-6">
  <img id="marca" src=<%= image_url "huellitas_logo_big.jpg" %> class="img-responsive" alt="Huellitas S.A. de C.V.">
</div>
<div class="center jumbotron img-responsive col-sm-6">
  <h1>Bienvenidos</h1>

  <h2>This is the Home page for the Huellitas Web App</h2>

  <%= link_to "ENTRAR", login_path, class: "btn btn-lg btn-primary" %>
</div>
</div>


