<tr>
  <td><%= order_detail_counter + 1 %></td>
  <td><%= order_detail.quantity %></td>
  <td><%= link_to order_detail.product.description, order_detail.product %></td>
  <td><%= number_to_currency(order_detail.price, format: "%u %n") %></td>
  <td><%= number_to_currency(order_detail.price * order_detail.quantity, format: "%u %n") %></td>
</tr>