<div class="row">
  <div class="col-md-2">
  <%= f.label  :provider_id, "Proveedor", class: "control-label" %>
  <%= f.select :provider_id, Provider.all.collect {|p| [ p.name, p.id ] },
               {prompt: 'Proveedor'}, class: 'form-control' %>
  </div>

  <div class="col-md-2">
  <%= f.label :folio %>
  <%= f.text_field :folio, class: 'form-control' %>
  </div>

  <% t = Time.now %>
  <div class="col-md-2">
  <%= f.label :purchased_at, "Fecha" %>
  <%= f.date_field :purchased_at, class: 'form-control',
                   value: t.day.to_s + '/' + t.month.to_s + '/' + t.year.to_s %>
  </div>

  <div class="col-md-2">
  <%= f.label :cost, "Costo" %>
  <%= f.text_field :cost, class: 'form-control money', value: number_to_currency(@purchase.cost, format: "%u %n") %>
  </div>

  <div class="col-md-1">
  <%= f.label :itmes, "Productos" %>
  <%= f.text_field :items, class: 'form-control', readonly: true %>
  </div>

  <div class="col-md-1">
  <%= f.label :articles, "Articulos" %>
  <%= f.text_field :articles, class: 'form-control', readonly: true %>
  </div>

  <div class="col-md-2">
  <%= f.label :difference, "Diferencia" %>
  <%= f.text_field :difference, class: 'form-control', readonly: true, value: number_to_currency(@purchase.difference, format: "%u %n") %>
  </div>
</div>
