<div class="row">
  <%= fields_for :purchase_detail do |ff| %>

    <%= add_row_hidden_field f, :purchase_detail %>

    <div class="col-md-2">
      <h3>-- PRODUCTO</h4>

      <%= ff.label :quantity, "Cantidad" %>
      <%= ff.number_field :quantity, class: 'form-control' %>

      <%= ff.label :cost, "Costo" %>
      <%= ff.text_field :cost, class: 'form-control money'  %>
    </div>
  
    <div class="col-md-9 col-md-offset-1">
    <table id="products_index" class="compact">

      <thead>
        <tr>
          <th>Foto</th>
          <th>Codigo</th>
          <th>Producto</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |p| %>
          <%= render 'product', p: p %>
        <% end %>
      </tbody>

    </table>
    </div>
  <% end %>
</div>