<tr class="product_detail_row">
  <%= hidden_field_tag '', p.id, class: "id" %>
  <td><%= image_tag p.picture.url(:thumb) if p.picture.url %></td>
  <td class="code"><%= p.code %></td>
  <td class="description"><%= p.description %></td>
</tr>