<tr>
  <td><%= link_to purchase.folio, purchase %></td>
  <td><%= purchase.provider.name %></td>
  <td><%= number_to_currency(purchase.cost, format: "%u %n") %></td>
  <td><%= purchase.items %></td>
  <td><%= purchase.articles %></td>
  <td><%= number_to_currency(purchase.difference, format: "%u %n") %></td>
  <% t = purchase.purchased_at %>
  <td><%= t.day.to_s + '/' + t.month.to_s + '/' + t.year.to_s %></td>
  <% if current_user.admin? %>
    <td><%= link_to "editar", edit_purchase_path(purchase) %></td>
    <td><%= link_to "eliminar", purchase, method: :delete,
                                  data: { confirm: "You sure?" } %></td>
  <% end %>
</tr>
