<% pd = @purchase.purchase_detail[f.index] %> 

<tr>

  <td class="index"><%= f.index + 1 %></td>
  <td class="quantity"><%= pd.quantity if pd && pd.quantity %></td>
  <td class="product"><%= pd.product.description if pd && pd.product && pd.product.description %></td>
  <td class="cost"><%= number_to_currency pd.cost if pd && pd.cost %></td>
  <td class="subtotal"><%= number_to_currency pd.quantity * pd.cost if pd && pd.quantity && pd.cost %></td>
  <td> <%= link_to "x", '#', class: "remove_fields" %> </td>

  <%= f.hidden_field :quantity, class: 'form-control' %>
  <%= f.hidden_field :product_id, class: 'form-control' %>
  <%= f.hidden_field :cost, class: 'form-control' %>

</tr>
