<div class="row">

  <%= fields_for :purchase_detail do |ff| %>

    <div class="col-md-1">
    <%= ff.label :quantity, "Cantidad" %>
    <%= ff.number_field :quantity, class: 'form-control' %>
    </div>

    <div class="col-md-8">
    <%= ff.label :product_id, "Producto" %>
    <%= ff.select :product_id, Product.all.collect {|p| [ p.description, p.id ] },
                  {prompt: 'Selecciona un Producto'}, class: 'form-control' %>
    </div>

    <div class="col-md-2">
    <%= ff.label :cost, "Costo" %>              
    <%= ff.text_field :cost, class: 'form-control money' %>
    </div>

    <div class="col-md-1">
    <div class="col-md-12"> <%= label_tag " " %> </div>
    <%= link_to_add_row "Cargar", f, :purchase_detail %>
    </div>

<% end %>

</div>