<div class="row">
  
  <table class="table">

    <%= render 'table_header' %>

    <tbody>
      <%= hidden_field_tag :index, if @purchase.purchase_detail then @purchase.purchase_detail.size else 0 end %>

      <%= f.fields_for :purchase_detail do |ff| %>

        <%= render 'purchase_detail_fields', f: ff %>

      <% end %>

      <tr id="total_row">
        <td></td>
        <td></td>
        <td></td>
        <th>Total:</th>
        <th id="total"><%= number_to_currency(@purchase.total, format: "%u %n") %></th>
        <td></td>
      </tr>

    </tbody>

  </table>

</div>