<% provide(:title, 'Compras') %>
<h1>Compras<small>
  <%= link_to "nueva", new_purchase_path %>
</small></h1>

<table id="purchases">
  <thead>
    <tr>
      <th>Folio</th>
      <th>Proveedor</th>
      <th>Costo</th>
      <th>Productos</th>
      <th>Articulos</th>
      <th>Diferencia</th>
      <th>Fecha</th>
      <% if current_user.admin? %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render @purchases %>
  </tbody>
</table>