<% provide(:title, 'Nueva Compra') %>
<h1>Nueva Compra</h1>

<%= form_for @purchase do |f| %>

  <% @subject = @purchase %>
  <%= render 'shared/error_messages' %>
  <%= render 'fields', f: f %>
  <%= render 'products_table', f: f %>

  <%= render 'table', f: f %> 

  <div class="col-md-6 col-md-offset-3">
    <%= f.submit "Registrar Compra", class: "btn btn-primary" %>
  </div>       

<% end %>