<% provide(:title, @purchase.id) %>
<h1><%= "#{@purchase.folio} - #{@purchase.provider.name} - #{number_to_currency(@purchase.cost, format: "%u %n")}" %></h1>

<div class="row">

<div class="col-md-3">
  <% t = @purchase.purchased_at %>
  <h3><%= "Fecha: #{t.day.to_s}-#{t.month.to_s}-#{t.year.to_s}" %></h3>
</div>

<div class="col-md-2">
  <h3><%= "Productos: #{@purchase.items}" %></h3>
</div>

<div class="col-md-2">
  <h3><%= "Articulos: #{@purchase.articles}" %></h3>
</div>

<div class="col-md-3">
  <h3><%= "Diferencia: #{number_to_currency(@purchase.difference, format: "%u%n")}" %></h3>
</div>

</div><br>

<table id="purchase_details">

  <thead>
  <tr>
    <th>#</th>
    <th>Quantity</th>
    <th>Producto</th>
    <th>Costo</th>
    <th>Subtotal</th>
  </tr>
</thead>

  <tbody>

    <%= render @purchase.purchase_detail %>

  </tbody>

</table>
