<div class="row">

  <% t = Time.now %>
  <div class="col-md-2">
  <%= f.label :ordered_at, "Fecha" %>
  <%= f.date_field :ordered_at, class: 'form-control',
                   value: t.day.to_s + '/' + t.month.to_s + '/' + t.year.to_s %>
  </div>

  <div class="col-md-1">
  <%= f.label :items, "Productos" %>
  <%= f.text_field :items, class: 'form-control', readonly: true %>
  </div>

  <div class="col-md-1">
  <%= f.label :articles, "Articulos" %>
  <%= f.text_field :articles, class: 'form-control', readonly: true %>
  </div>

  <div class="col-md-2">
  <%= f.label :cost, "Costo" %>
  <%= f.text_field :cost, class: 'form-control money', value: number_to_currency(@order.cost, format: "%u %n"), readonly: true %>
  </div>

  <div class="col-md-2">
  <%= f.label :margin, "Margen" %>
  <%= f.text_field :margin, class: 'form-control money', value: number_to_currency(@order.margin, format: "%u %n"), readonly: true %>
  </div>

  <div class="col-md-2">
  <%= f.label :points, "Puntos" %>
  <%= f.text_field :points, class: 'form-control money', value: number_to_percentage(@order.points), readonly: true %>
  </div>
</div>
