<tr>
  <td><%= link_to order.id, order %></td>
  <td><%= order.o_providers %></td>
  <td><%= order.o_purchases %></td>
  <td><%= order.items %></td>
  <td><%= order.articles %></td>
  <td><%= number_to_currency(order.cost, format: "%u %n") %></td>
  <td><%= number_to_currency(order.margin, format: "%u %n") %></td>
  <td><%= order.points %></td>
  <% t = order.ordered_at %>
  <td><%= t.day.to_s + '/' + t.month.to_s + '/' + t.year.to_s %></td>
</tr>