<% od = @order.order_detail[f.index] %> 

<tr>

  <td class="index"><%= f.index + 1 %></td>
  <td class="quantity"><%= od.quantity if od && od.quantity %></td>
  <td class="product"><%= od.product.description if od && od.product && od.product.description %></td>
  <td class="price"><%= number_to_currency od.price if od && od.price %></td>
  <td class="subtotal"><%= number_to_currency od.quantity * od.price if od && od.quantity && od.price %></td>
  <td> <%= link_to "x", '#', class: "order_remove_fields" %> </td>

  <%= f.hidden_field :quantity, class: 'form-control' %>
  <%= f.hidden_field :product_id, class: 'form-control' %>
  <%= f.hidden_field :price, class: 'form-control' %>
  <%= hidden_field_tag :cost_subtotal, '', class: 'cost_subtotal' %>


</tr>