<tr class="order_product_detail_row">
  <%= hidden_field_tag '', p.id, class: "id" %>
  <%= hidden_field_tag '', p.cost, class: "cost" %>
  <td><%= image_tag p.picture.url(:thumb) if p.picture.url %></td>
  <td class="code"><%= p.code %></td>
  <td class="description"><%= p.description %></td>
  <td class="cost"><%= number_to_currency(p.cost, format: "%u %n") %></td>
</tr>