<div class="row">
  <table class="table">

    <thead>
      <tr>
        <th>#</th>
        <th>Quantity</th>
        <th>Producto</th>
        <th>Price</th>
        <th>Subtotal</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    
      <%= hidden_field_tag :index, if @order.order_detail then @order.order_detail.size else 0 end %>

      <%= f.fields_for :order_detail do |ff| %>

        <%= render 'order_detail_fields', f: ff %>

      <% end %>

      <tr id="total_row">
        <td></td>
        <td></td>
        <td></td>
        <th>Total:</th>
        <th id="total"><%= number_to_currency(@order.total, format: "%u %n") %></th>
        <td></td>
      </tr>

    </tbody>
  </table>
</div>