<% provide(:title, 'Pedidos') %>
<h1>Pedidos<small>
  <%= link_to "nuevo", new_order_path %>
</small></h1>

<table id="orders">
  <thead>
    <tr>
      <th>#</th>
      <th>Proveedores</th>
      <th>Compras</th>
      <th>Productos</th>
      <th>Articulos</th>
      <th>Costo</th>
      <th>Margen</th>
      <th>Puntos</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
    <%= render @orders %>
  </tbody>
</table>