<% provide(:title, 'Nuevo Pedido') %>
<h1>Nuevo Pedido</h1>

<%= form_for @order do |f| %>

  <% @subject = @order %>
  <%= render 'shared/error_messages' %>
  <%= render 'fields', f: f %>
  <%= render 'products_table', f: f %>

  <%= render 'table', f: f %>
  
  <div class="col-md-6 col-md-offset-3">    
    <%= f.submit "Registrar Pedido", class: "btn btn-primary" %>
  </div>       

<% end %>
  