<% provide(:title, @order.id) %>
<h1><%= "#{@order.id} - #{@order.ordered_at} - #{number_to_currency(@order.cost, format: "%u %n")} - #{number_to_currency(@order.margin, format: "%u %n")} - #{@order.points}" %></h1>

<div class="row">

<div class="col-md-3">
  <% t = @order.ordered_at %>
  <h3><%= "Fecha: #{t.day.to_s}-#{t.month.to_s}-#{t.year.to_s}" %></h3>
</div>

<div class="col-md-2">
  <h3><%= "Productos: #{@order.items}" %></h3>
</div>

<div class="col-md-2">
  <h3><%= "Articulos: #{@order.articles}" %></h3>
</div>

</div><br>

<table id="order_details">

  <thead>
  <tr>
    <th>#</th>
    <th>Quantity</th>
    <th>Producto</th>
    <th>Precio</th>
    <th>Subtotal</th>
  </tr>
</thead>

  <tbody>

    <%= render @order.order_detail %>

  </tbody>

</table>