<% @subject = @product %>
<%= render 'shared/error_messages' %>

<%= f.label :code %>
<%= f.text_field :code, class: 'form-control' %>

<%= f.label :name %>
<%= f.text_field :name, class: 'form-control' %>

<%= f.label :description %>
<%= f.text_field :description, class: 'form-control' %>

<%= f.label :size %>
<%= f.text_field :size, class: 'form-control' %>

<%= f.label :brand %>
<%= f.text_field :brand, class: 'form-control' %>

<%= f.label :model %>
<%= f.text_field :model, class: 'form-control' %>

<%= f.label :line %>
<%= f.text_field :line, class: 'form-control' %>
