<tr>
  <td><%= image_tag product.picture.url(:thumb), alt: "image" if product.picture.url %></td>
  <td><%= link_to product.code, product %></td>
  <td><%= product.description %></td>
  <td><%= product.inventory%></td>
  <td><%= number_to_currency product.price %></td>
  <% if current_user.admin? %>
  	<td><%= link_to "editar", edit_product_path(product) %></td>
    <td><%= link_to "eliminar", product, method: :delete,
                                  data: { confirm: "You sure?" } %></td>
  <% end %>
</tr>