<h1>Recortar Foto</h1>

<%= image_tag @product.picture_url(:large), id: "cropbox" %>

<h4>Preview</h4>
<div style="width:102px; height:102px; border:1px solid black">
<div style="width:100px; height:100px; overflow:hidden" id="preview_port">
  <%= image_tag @product.picture.url(:large), id: "preview" %>
</div>
</div>

<%= form_for @product do |f| %>
  <div class="actions">
    <% %w[x y w h].each do |attribute| %>
      <%= f.hidden_field "crop_#{attribute}" %>
    <% end %>
    <%= f.submit "Crop" %>
  </div>
<% end %>