<% provide(:title, 'Productos') %>
<h1>Productos <small>
	<%= link_to "nuevo", new_product_path %>
</small></h1>

<table id="products">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Codigo</th>
      <th>Descripcion</th>
      <th>Inventario</th>
      <th>Precio</th>
      <% if current_user.admin? %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </tbody>
</table>

