<% provide(:title, 'Nuevo Producto') %>
<h1>Nuevo Producto</h1>

<div class="row">
  <div class="col-md-12">

    <% if @product.key.index("filename") %>
      <%= direct_upload_form_for @uploader do |f| %>
        <p><%= f.file_field :picture %></p>
        <p><%= f.submit "Upload Picture" %></p>
      <% end %>
    <% else %>
      <p>Picture succesfully uploaded!</p>
    <% end %>

    <%= form_for(@product, html: { multipart: true }) do |f| %>
      <%= f.hidden_field :key %>
    	<%= render 'fields', f: f %>
      <div class="col-md-6 col-md-offset-3">
      <%= f.submit "Registrar Producto", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>