<% provide(:title, @product.name) %>
<h1><%= @product.name %></h1>
<p>
	<%= @product.code %><br>
	<%= @product.name %><br>
	<%= @product.description %><br>
	<%= @product.size %><br>
	<%= @product.brand %><br>
	<%= @product.model %><br>
	<%= @product.line %><br>
  <%= image_tag @product.picture.url(:medium) if @product.picture? %>
</p>