<footer class="footer">
  <small>
    The <a href="http://www.facebook.com/efiguerc/">Huellitas Web App</a>
    by <a href="mailto:efiguerc@gmail.com">Edgar Figueroa</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>