<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "huellitas web app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <% if logged_in? %>
          <li><%= link_to "Ventas",   '#' %></li>
          <li><%= link_to "Pedidos",   orders_path %></li>
          <li><%= link_to "Compras",   purchases_path %></li>
          <li><%= link_to "Productos",   products_path %></li>
          <li><%= link_to "Proveedores",   providers_path %></li>
          <li><%= link_to "Usuarios", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Perfil", current_user %></li>
              <li><%= link_to "Ajustes", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Ayuda",   help_path %></li>
              <li><%= link_to "Salir", logout_path, method: "delete" %></li>

            </ul>
          </li>
        <% else %>
          <li><%= link_to "Ayuda",   help_path %></li>
          <li><%= link_to "Entrar", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>